<!DOCTYPE html>
<html>
<head>
    <title>Chess Game</title>
    <link rel="stylesheet" href="static/chessboard.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="static/chart.js"></script>
</head>
<body>
    <div id="container" style="display: flex; justify-content: space-between;">
        <div>
            <div id="board" style="width: 600px"></div>
            <button id="newGameButton">New Game</button>
            <div id="game-status"></div>
            <div id="move-history" style="height:200px; width: 580px"></div>
        </div>

        <div id="analysis">
            <p id="score">Score: </p>
               <div class="chart-container">
                 <canvas id="scoreChart" ></canvas>
               </div>
            <p id="mate">Mate: </p>
            <p id="pv">PV: </p>
        </div>
    </div>

    <script src="static/chess.min.js"></script>
    <script src="static/jquery.min.js"></script>
    <script src="static/chessboard.min.js"></script>
    <script>
        var board = ChessBoard('board', 'start');
        var game = new Chess();

        function onDrop(source, target) {
            // 用户的走棋
            var move = game.move({
                from: source,
                to: target,
                promotion: 'q'
            });

            // 如果走棋无效，则撤销
            if (move === null) return 'snapback';

            updateStatusAndHistory(); // 更新棋局状态

            // 向后端发送请求，获取AI的走棋
            $.ajax({
                url: '/move',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({move: move.san, fen: game.fen()}),
                success: function(data) {
                    console.log("Kelvin is thinking...");
                    if (!game.game_over()) {
                        var bestMove = data.move;
                        console.log(bestMove);
                        if (bestMove) { // 如果AI有可走的棋步
                            var source = bestMove.substring(0,2);
                            var target = bestMove.substring(2,4);
                            game.move({from: source, to: target});
                            board.position(game.fen());
                            console.log("AI moved");
                            updateStatusAndHistory(); // 更新棋局状态

                            document.getElementById('score').textContent = "Score: " + data.analysis.score;
                            document.getElementById('mate').textContent = "Mate: " + data.analysis.mate;
                            var pv = data.analysis.pv.replace(/<br><br>/g, '<br>');
                            document.getElementById('pv').innerHTML = "PV: <br>" + pv;

                            // 更新分数图表
                            updateScore(move.san, data.analysis.score);
                        }
                    }
                }
            });
        }

        function updateStatusAndHistory() {
            var status = 'Unknown';
            var historyElement = $('#move-history');

            if (game.in_checkmate()) {
                status = 'Game over, checkmate.';
            } else if (game.in_draw()) {
                status = 'Game over, drawn position.';
            } else {
                status = game.turn() == 'w' ? 'White to move' : 'Black to move';

                // check or checkmate?
                if (game.in_check()) {
                    status += ', in check';
                }
            }

            $('#game-status').html(status);
            var history = game.history({verbose: true});
            var historyString = '';
            for (var i = 0; i < history.length; ++i) {
                historyString += (i + 1) + '. ' + history[i].from + ' to ' + history[i].to + ' (' + history[i].san + ')<br>';
            }
            historyElement.html(historyString);
            historyElement.scrollTop(historyElement.prop("scrollHeight")); // 自动滚动到底部
        }

        function onSnapEnd () {
          board.position(game.fen())
          updateStatusAndHistory()
        }
        var cfg = {
            draggable: true,
            position: 'start',
            onDrop: onDrop
        };

        board = ChessBoard('board', cfg);

        $('#newGameButton').on('click', function() {
            game.reset();
            board.start();
            $('#move-history').html(''); // 清空走子序列
            updateStatusAndHistory(); // 更新棋局状态
        });
    </script>

    <script>
      var ctx = document.getElementById('scoreChart').getContext('2d');
      var scoreChart = new Chart(ctx, {
        type: 'line',  // 图表类型
        data: {
          labels: [],  // 这将存储棋步
          datasets: [{
            label: 'Score',
            data: [],  // 这将存储评分
            backgroundColor: 'rgba(75, 192, 192, 0.2)',  // 图表的颜色
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
        },
        options: {
          responsive: false,
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      // 当你收到新的评分时，更新图表
      function updateScore(move, score) {
        scoreChart.data.labels.push(move);
        scoreChart.data.datasets[0].data.push(score);
        scoreChart.update();
      }
    </script>
</body>
</html>
